@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-prev, .slick-next{
    z-index: 9999999 !important;
}

.slick-prev{
    left: 0px !important;
}
.slick-next{
    right: 0px !important;
}
.slick-prev:before {
    content: '😊' !important;
}